<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bianlitransf.biz.dao.CapitalAcctDao">

	<select id="getByOwnerId" resultType="com.bianlitransf.biz.entity.CapitalAcct">
		select 
			<include refid="allFields"></include>
		from capital_acct 
		where `owner_id` = #{ownerId}
	</select>

	<sql id="allFields">
		`id`,
		`owner_id` as ownerId,
		`bal_money` as balMoney,
		`blk_money` as blkMoney,
		`cashin_money` as cashinMoney,
		`created_by` as createdBy,
		`created_time` as createdTime,
		`updated_by` as updatedBy,
		`updated_time` as updatedTime
	</sql>

	<sql id="insertFields">
		`id`,
		`owner_id`,
		`bal_money`,
		`blk_money`,
		`cashin_money`,
		`created_by`,
		`created_time`,
		`updated_by`,
		`updated_time`
	</sql>

	<select id="list" resultType="com.bianlitransf.biz.entity.CapitalAcct" >
		select
			<include refid="allFields" />
		from `capital_acct`
		<where>
			<include refid="comnWhere" />
		</where>
		<if test="orderBy != null" >
			order by ${orderBy}
			<if test="orderByDesc != null">
				desc
			</if>
		</if>
	</select>

	<sql id="comnWhere">
		<if test="id != null">
			`id` = #{id}
		</if>
		<if test="ownerId != null">
			 and `owner_id` = #{ownerId}
		</if>
		<if test="balMoney != null">
			 and `bal_money` = #{balMoney}
		</if>
		<if test="blkMoney != null">
			 and `blk_money` = #{blkMoney}
		</if>
		<if test="cashinMoney != null">
			 and `cashin_money` = #{cashinMoney}
		</if>
		<if test="createdBy != null">
			 and `created_by` = #{createdBy}
		</if>
		<if test="createdTime != null">
			 and `created_time` = #{createdTime}
		</if>
		<if test="updatedBy != null">
			 and `updated_by` = #{updatedBy}
		</if>
		<if test="updatedTime != null">
			 and `updated_time` = #{updatedTime}
		</if>
	</sql>

	<select id="getByIds" resultType="com.bianlitransf.biz.entity.CapitalAcct" >
		select <include refid="allFields" /> from `capital_acct` where id in
		<foreach collection="list" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>

	<select id="get" resultType="com.bianlitransf.biz.entity.CapitalAcct" >
		select <include refid="allFields" /> from `capital_acct` where id = #{id}
	</select>

	<delete id="deleteById" parameterType="Long" >
		delete from `capital_acct` where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.bianlitransf.biz.entity.CapitalAcct">
		insert into `capital_acct`(<include refid="insertFields" />)
		values(
			#{id},
			#{ownerId},
			#{balMoney},
			#{blkMoney},
			#{cashinMoney},
			#{createdBy},
			#{createdTime},
			#{updatedBy},
			#{updatedTime}
		)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List" >
		insert into `capital_acct`(<include refid="insertFields" />)
		values
		<foreach collection="list" item="item" separator="," >
			(
				#{item.id},
				#{item.ownerId},
				#{item.balMoney},
				#{item.blkMoney},
				#{item.cashinMoney},
				#{item.createdBy},
				#{item.createdTime},
				#{item.updatedBy},
				#{item.updatedTime}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.bianlitransf.biz.entity.CapitalAcct" >
		update `capital_acct` 
			<set>
				<include refid="setComn" />
			</set>
		where id = #{id}
	</update>

	<sql id="setComn" >
		<if test="ownerId != null" >
			`owner_id` = #{ownerId},
		</if>
		<if test="balMoney != null" >
			`bal_money` = #{balMoney},
		</if>
		<if test="blkMoney != null" >
			`blk_money` = #{blkMoney},
		</if>
		<if test="cashinMoney != null" >
			`cashin_money` = #{cashinMoney},
		</if>
		<if test="createdBy != null" >
			`created_by` = #{createdBy},
		</if>
		<if test="createdTime != null" >
			`created_time` = #{createdTime},
		</if>
		<if test="updatedBy != null" >
			`updated_by` = #{updatedBy},
		</if>
		<if test="updatedTime != null" >
			`updated_time` = #{updatedTime}
		</if>
	</sql>
</mapper>