<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bianlitransf.biz.dao.ExchangeBillDao">

	<select id="summaryScore" resultType="java.math.BigDecimal">
		SELECT 
			ifnull(SUM(score),0)
		FROM exchange_bill 
		WHERE owner_id = 1 
		AND `status` = 1
	</select>

	<select id="summaryExgBills" resultType="java.util.HashMap">
		SELECT 
			COUNT(1) AS `count`,
			`status` AS `status`
		FROM `exchange_bill` 
		WHERE owner_id = #{ownerId}
		GROUP BY `status`
	</select>

	<select id="isExistsBizKeys" resultType="Long">
		select 
			count(1) 
		from exchange_bill 
		where exg_det_id = #{exgDetId}
		and voucher_code = #{voucherCode} 
		and status = 0
	</select>

	<sql id="allFields">
		id,
		owner_id as ownerId,
		`status`,
		exg_det_id as exgDetId,
		exg_det_name as exgDetName,
		score,
		money,
		created_time as createdTime,
		confirm_time as confirmTime,
		confirmer_id as confirmerId,
		`desc`,
		voucher_code as voucherCode
	</sql>

	<sql id="insertFields">
		id,
		owner_id,
		`status`,
		exg_det_id,
		exg_det_name,
		score,
		money,
		created_time,
		confirm_time,
		confirmer_id,
		`desc`,
		voucher_code
	</sql>

	<select id="list" resultType="com.bianlitransf.biz.entity.ExchangeBill" >
		select
			<include refid="allFields" />
		from exchange_bill
		<where>
			<include refid="comnWhere" />
		</where>
		<if test="orderBy != null" >
			order by ${orderBy}
			<if test="orderByDesc != null">
				desc
			</if>
		</if>
	</select>

	<sql id="comnWhere">
		<if test="id != null">
			id = #{id}
		</if>
		<if test="ownerId != null">
			 and owner_id = #{ownerId}
		</if>
		<if test="status != null">
			 and `status` = #{status}
		</if>
		<if test="exgDetId != null">
			 and exg_det_id = #{exgDetId}
		</if>
		<if test="exgDetName != null">
			 and exg_det_name = #{exgDetName}
		</if>
		<if test="score != null">
			 and score = #{score}
		</if>
		<if test="money != null">
			 and money = #{money}
		</if>
		<if test="createdTime != null">
			 and created_time = #{createdTime}
		</if>
		<if test="confirmTime != null">
			 and confirm_time = #{confirmTime}
		</if>
		<if test="confirmerId != null">
			 and confirmer_id = #{confirmerId}
		</if>
		<if test="desc != null">
			 and `desc` = #{desc}
		</if>
		<if test="voucherCode != null">
			and voucher_code = #{voucherCode}
		</if>
	</sql>

	<select id="getByIds" resultType="com.bianlitransf.biz.entity.ExchangeBill" >
		select <include refid="allFields" /> from exchange_bill where id in
		<foreach collection="list" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>

	<select id="get" resultType="com.bianlitransf.biz.entity.ExchangeBill" >
		select <include refid="allFields" /> from exchange_bill where id = #{id}
	</select>

	<delete id="deleteById" parameterType="Long" >
		delete from exchange_bill where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.bianlitransf.biz.entity.ExchangeBill">
		insert into exchange_bill(<include refid="insertFields" />)
		values(
			#{id},
			#{ownerId},
			#{status},
			#{exgDetId},
			#{exgDetName},
			#{score},
			#{money},
			#{createdTime},
			#{confirmTime},
			#{confirmerId},
			#{desc},
			#{voucherCode}
		)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List" >
		insert into exchange_bill(<include refid="insertFields" />)
		values
		<foreach collection="list" item="item" separator="," >
			(
				#{item.id},
				#{item.ownerId},
				#{item.status},
				#{item.exgDetId},
				#{item.exgDetName},
				#{item.score},
				#{item.money},
				#{item.createdTime},
				#{item.confirmTime},
				#{item.confirmerId},
				#{item.desc},
				#{item.voucherCode}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.bianlitransf.biz.entity.ExchangeBill" >
		update exchange_bill 
			<set>
				<include refid="setComn" />
			</set>  
		where id = #{id}
	</update>

	<sql id="setComn" >
		<if test="ownerId != null" >
			owner_id = #{ownerId},
		</if>
		<if test="status != null" >
			`status` = #{status},
		</if>
		<if test="exgDetId != null" >
			exg_det_id = #{exgDetId},
		</if>
		<if test="exgDetName != null" >
			exg_det_name = #{exgDetName},
		</if>
		<if test="score != null" >
			score = #{score},
		</if>
		<if test="money != null" >
			money = #{money},
		</if>
		<if test="createdTime != null" >
			created_time = #{createdTime},
		</if>
		<if test="confirmTime != null" >
			confirm_time = #{confirmTime},
		</if>
		<if test="confirmerId != null" >
			confirmer_id = #{confirmerId},
		</if>
		<if test="desc != null" >
			`desc` = #{desc},
		</if>
		<if test="voucherCode != null">
			voucher_code = #{voucherCode}
		</if>
	</sql>
</mapper>