<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bianlitransf.biz.dao.ResourcesDetailsDao">

	<sql id="allFields">
		id,
		res_id as resId,
		rel_url as relUrl,
		res_type as resType,
		target,
		created_by as createdBy,
		created_time as createdTime,
		updated_by as updatedBy,
		updated_time as updatedTime
	</sql>

	<sql id="insertFields">
		id,
		res_id,
		rel_url,
		res_type,
		target,
		created_by,
		created_time,
		updated_by,
		updated_time
	</sql>

	<select id="list" resultType="com.bianlitransf.biz.entity.ResourcesDetails" >
		select
			<include refid="allFields" />
		from resources_details
		<where>
			<include refid="comnWhere" />
		</where>
		<if test="orderBy != null" >
			order by ${orderBy}
			<if test="orderByDesc != null">
				desc
			</if>
		</if>
	</select>

	<sql id="comnWhere">
		<if test="id != null">
			id = #{id}
		</if>
		<if test="resId != null">
			 and res_id = #{resId}
		</if>
		<if test="relUrl != null">
			 and rel_url = #{relUrl}
		</if>
		<if test="resType != null">
			 and res_type = #{resType}
		</if>
		<if test="target != null">
			 and target = #{target}
		</if>
		<if test="createdBy != null">
			 and created_by = #{createdBy}
		</if>
		<if test="createdTime != null">
			 and created_time = #{createdTime}
		</if>
		<if test="updatedBy != null">
			 and updated_by = #{updatedBy}
		</if>
		<if test="updatedTime != null">
			 and updated_time = #{updatedTime}
		</if>
	</sql>

	<select id="getByIds" resultType="com.bianlitransf.biz.entity.ResourcesDetails" >
		select <include refid="allFields" /> from resources_details where id in
		<foreach collection="list" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>

	<select id="get" resultType="com.bianlitransf.biz.entity.ResourcesDetails" >
		select <include refid="allFields" /> from resources_details where id = #{id}
	</select>

	<delete id="deleteById" parameterType="Long" >
		delete from resources_details where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.bianlitransf.biz.entity.ResourcesDetails">
		insert into resources_details(<include refid="insertFields" />)
		values(
			#{id},
			#{resId},
			#{relUrl},
			#{resType},
			#{target},
			#{createdBy},
			#{createdTime},
			#{updatedBy},
			#{updatedTime}
		)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List" >
		insert into resources_details(<include refid="insertFields" />)
		values
		<foreach collection="list" item="item" separator="," >
			(
				#{item.id},
				#{item.resId},
				#{item.relUrl},
				#{item.resType},
				#{item.target},
				#{item.createdBy},
				#{item.createdTime},
				#{item.updatedBy},
				#{item.updatedTime}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.bianlitransf.biz.entity.ResourcesDetails" >
		update resources_details set <include refid="setComn" /> where id = #{id}
	</update>

	<sql id="setComn" >
		<if test="resId != null" >
			res_id = #{resId},
		</if>
		<if test="relUrl != null" >
			rel_url = #{relUrl},
		</if>
		<if test="resType != null" >
			res_type = #{resType},
		</if>
		<if test="target != null" >
			target = #{target},
		</if>
		<if test="createdBy != null" >
			created_by = #{createdBy},
		</if>
		<if test="createdTime != null" >
			created_time = #{createdTime},
		</if>
		<if test="updatedBy != null" >
			updated_by = #{updatedBy},
		</if>
		<if test="updatedTime != null" >
			updated_time = #{updatedTime}
		</if>
	</sql>
</mapper>