<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bianlitransf.biz.dao.ScoreExchangeDetailDao">

	<sql id="allFields">
		id,
		class_id as classId,
		score,
		name,
		`count`,
		price1,
		price2,
		created_by as createdBy,
		created_time as createdTime,
		updated_by as updatedBy,
		updated_time as updatedTime
	</sql>

	<sql id="insertFields">
		id,
		class_id,
		score,
		name,
		`count`,
		price1,
		price2,
		created_by,
		created_time,
		updated_by,
		updated_time
	</sql>

	<select id="list" resultType="com.bianlitransf.biz.entity.ScoreExchangeDetail" >
		select
			<include refid="allFields" />
		from score_exchange_detail
		<where>
			<include refid="comnWhere" />
		</where>
		<if test="orderBy != null" >
			order by ${orderBy}
			<if test="orderByDesc != null">
				desc
			</if>
		</if>
	</select>

	<sql id="comnWhere">
		<if test="id != null">
			id = #{id}
		</if>
		<if test="classId != null">
			 and class_id = #{classId}
		</if>
		<if test="score != null">
			 and score = #{score}
		</if>
		<if test="name != null">
			 and name = #{name}
		</if>
		<if test="count != null">
			and `count` = #{count}
		</if>
		<if test="price1 != null">
			 and price1 = #{price1}
		</if>
		<if test="price2 != null">
			 and price2 = #{price2}
		</if>
		<if test="createdBy != null">
			 and created_by = #{createdBy}
		</if>
		<if test="createdTime != null">
			 and created_time = #{createdTime}
		</if>
		<if test="updatedBy != null">
			 and updated_by = #{updatedBy}
		</if>
		<if test="updatedTime != null">
			 and updated_time = #{updatedTime}
		</if>
	</sql>

	<select id="getByIds" resultType="com.bianlitransf.biz.entity.ScoreExchangeDetail" >
		select <include refid="allFields" /> from score_exchange_detail where id in
		<foreach collection="list" item="item" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>

	<select id="get" resultType="com.bianlitransf.biz.entity.ScoreExchangeDetail" >
		select <include refid="allFields" /> from score_exchange_detail where id = #{id}
	</select>

	<delete id="deleteById" parameterType="Long" >
		delete from score_exchange_detail where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.bianlitransf.biz.entity.ScoreExchangeDetail">
		insert into score_exchange_detail(<include refid="insertFields" />)
		values(
			#{id},
			#{classId},
			#{score},
			#{name},
			#{count},
			#{price1},
			#{price2},
			#{createdBy},
			#{createdTime},
			#{updatedBy},
			#{updatedTime}
		)
	</insert>

	<insert id="insertBatch" parameterType="java.util.List" >
		insert into score_exchange_detail(<include refid="insertFields" />)
		values
		<foreach collection="list" item="item" separator="," >
			(
				#{item.id},
				#{item.classId},
				#{item.score},
				#{item.name},
				#{item.count},
				#{item.price1},
				#{item.price2},
				#{item.createdBy},
				#{item.createdTime},
				#{item.updatedBy},
				#{item.updatedTime}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.bianlitransf.biz.entity.ScoreExchangeDetail" >
		update score_exchange_detail 
			<set>
				<include refid="setComn" />
			</set>
		where id = #{id}
	</update>

	<sql id="setComn" >
		<if test="classId != null" >
			class_id = #{classId},
		</if>
		<if test="score != null" >
			score = #{score},
		</if>
		<if test="name != null" >
			name = #{name},
		</if>
		<if test="count != null">
			`count` = #{count},
		</if>
		<if test="price1 != null" >
			price1 = #{price1},
		</if>
		<if test="price2 != null" >
			price2 = #{price2},
		</if>
		<if test="createdBy != null" >
			created_by = #{createdBy},
		</if>
		<if test="createdTime != null" >
			created_time = #{createdTime},
		</if>
		<if test="updatedBy != null" >
			updated_by = #{updatedBy},
		</if>
		<if test="updatedTime != null" >
			updated_time = #{updatedTime}
		</if>
	</sql>
</mapper>