html {
    font-size: 10px
}

@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width:415px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width:800px) {
    html {
        font-size: 25px
    }
}

.title {
    background-color: #F8F8FF;
    line-height: 6rem;
    padding-left: 2rem;
    letter-spacing: 1rem;
    font-weight: 600;
}

.title h2 {
    margin: 0px;
}

.content-container {
    overflow-y: scroll;
}

.border-left {
    border-left: 1px #F2F2F2 solid;
}

.touched {
    background-color:#F7F7F7;
}