html {
    font-size: 10px
}

@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width:415px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width:800px) {
    html {
        font-size: 25px
    }
}

.title {
    background-color: #F8F8FF;
    line-height: 6rem;
    letter-spacing: 1rem;
    font-weight: 600;
}

.title h2 {
    margin: 0px;
    padding-left: 2rem;
}

.title .title-center {
    text-align: center;
    padding-left: 0px;
}

.title .tback-btn {
    float: left;
    letter-spacing: 1px;
    font-weight: 300;
    padding-left: 2rem;
}

.content-container {
    overflow-y: scroll;
}

.border-left {
    border-left: 1px #F2F2F2 solid;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 5rem;
    background-color: #F8F8FF;
}

/* 头部固定，内容固定，底部固定样式  */
.my-fixed-top {position: fixed;height: 6rem;width:100%;background: #F8F8FF;}
.my-fixed-top .am-u-sm-2:nth-of-type(1) img {height:2.6rem; margin: 1.7rem 0}
.my-fixed-top .am-u-sm-8 {text-align: center;font-size: 2rem;line-height: 6rem;}
.my-fixed-content {position: fixed;top: 0;bottom: 0;width:100%;background-color: #F2F2F2;padding-bottom: 3rem;overflow: scroll;-webkit-overflow-scrolling: touch;}
.my-fixed-bottom {position: fixed;bottom: 0;height: 5rem;width:100%;}
.my-content-exist-top {top: 6rem;}
.my-content-exist-bottom {bottom: 5rem;}
.my-gray{color: #777}
.my-panel{background-color: #fff;padding: 1rem 0;margin-top: 1rem;}